footer {
  display: flex;
  width: 96%;
  height: 200px;
  padding: 20px;
  position: absolute;
  bottom: 0px;
  background: rgb(139, 238, 255);
}

footer > div {
  flex: 1;
}

footer > .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > .links > li {
  flex: 1;
  list-style: none;
  list-style-type: none;
}

footer > .links > li > a {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 500;
}

footer > .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}