.header {
  margin: 0;
  padding: 20px 0;
  display: flex;
  width: 100%;
}

.header > div {
  flex: 1;
}

.header > .title {
  text-align: center;
}

.header > .links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > .links > li {
  flex: 1;
}
.header > .links > li > a {
  text-transform: uppercase;
  letter-spacing: 2px;
}